header {
  overflow: hidden;
  background-color: lightgrey;
  padding: 20px 10px;
  text-align: center;
  font-weight: 600;
}

.nav-button {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

.nav-button-active {
  float: left;
  color: blue;
  text-align: center;
  padding: 12px;
  text-decoration: underline;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

footer {
  position: fixed;
  bottom: 0;
}

.footer-img {
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  height: 55px;
}